.container {
  display: inline-table;
  border: 1px solid #000000;
  margin: 2px 0;
}

.container:hover {
  background-color: rgba(0, 0, 255, 0.2);
}

.container div p {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  display: table-cell;
  height: 40px;
  width: 40px;
}
